{% extends 'base.html.twig' %}

{% block title %}QR_code App{% endblock %}

{% block body %}
<div class="example-wrapper">
    <br>
    <h4>QR code App</h4>
    <br>
    <div class="row">
        <div class="col-md-6">
            {{form_start(form)}}
                {{form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Recherche'}})}}
                <hr>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success" type="submit">Rechercher</button>
                </div>
            {{form_end(form)}}
        </div>
        {# a nother part #}
        <div class="col-md-6">
        {# Générer le QR code dans cette partie #}
            {% if qrCode %}
                <img src="{{ qrCode }}" alt="qr-code">
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
